@tailwind base;
@tailwind components;
@tailwind utilities;


/* Simon Game Animations */
@keyframes LightUp {
    from {opacity: 65%;}
    to {opacity: 100%;}
}
@keyframes LightDown {
    from {opacity: 100%;}
    to {opacity: 65%;}
}